@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input, select {
        @apply border-2 border-blue-900 rounded-md shadow-sm focus:outline-none focus:border-blue-400 m-1;
    }
    .error {
        @apply text-sm rounded-lg bg-red-100 border border-red-400 relative text-red-700 p-1;
    }
    .vin-input {
        @apply px-4 py-2
    }
}
html {
    background-color: #A8A8A8;
    color: text-black;
}

.row:after {
    content: "";
    display: block;
    clear: both
}

.col--half {
    float: left;
    vertical-align: top;
    width: 50%
}

.col--third {
    float: left;
    vertical-align: top;
    width: 33.3%
}

.bus {
    background: 0 0;
    font-size: 5em;
    height: 10em;
    margin: 1em auto;
    position: relative;
    width: 10em
}

.bus--first {
    margin-top: 0
}

.bus--full {
    font-size: 3vw;
}

.bus--half {
    font-size: 4vw
}

.bus--third {
    font-size: 3vw
}

.bus * {
    position: absolute
}

.bus-body {
    height: 100%;
    width: 100%;
    z-index: 20
}

.bus__body--top {
    background: #a9a4a2;
    position: absolute
}

.bus__body--bottom {
    background: #a9a4a2;
    position: absolute
}
.bus--top-white .bus__body--top,.bus--bottom-white .bus__body--bottom {
    background: #e3e2d8
}

.roof {
    border-radius: 50% 50% 0 0/60% 60% 0 0;
    height: 1.4em;
    left: 1.76em;
    width: 6.48em;
    top: 1em
}

.side-top {
    border-radius: 46% 46% 0 0/60% 60% 0 0;
    height: 2.24em;
    left: 1.31em;
    top: 1.67em;
    transform: rotate(11deg);
    width: .8em
}

.side-top--right {
    left: auto;
    right: 1.31em;
    transform: rotate(-11deg)
}

.gutter {
    border-top-left-radius: .06em;
    height: .12em;
    left: 1.72em;
    top: 1.63em;
    transform: rotate(-45deg);
    width: .08em
}

.gutter--right {
    border-top-left-radius: 0;
    border-top-right-radius: .06em;
    left: auto;
    right: 1.72em;
    transform: rotate(45deg)
}

.mid-top {
    height: 2em;
    left: 1.7em;
    top: 2em;
    width: 6.6em
}

.bump {
    border-radius: 1.5% 1.5% 1.5% 1.5%/50% 50% 50% 50%;
    box-shadow: inset 0 -.18em 0 0 rgba(0,0,0,.15),inset 0 .18em 0 0 rgba(255,255,255,.2);
    height: .36em;
    left: 1.08em;
    top: 3.83em;
    width: 7.84em;
    z-index: 20
}

.front {
    border-radius: 2.5% 2.5% 3.5% 3.5%/70% 70% 30% 30%;
    height: 4em;
    left: 1em;
    top: 4.1em;
    width: 8em
}

.front-middle {
    border-radius: 20% 20% 0 0/100% 100% 0 0;
    box-shadow: 0 -.04em 0 0 rgba(255,255,255,.2);
    left: 1.6em;
    height: .24em;
    top: 4.33em;
    width: 6.8em
}

.front-middle--bottom {
    border-radius: 0 0 .9em .9em;
    box-shadow: 0 .04em 0 0 rgba(0,0,0,.15);
    left: 1.5em;
    height: 1em;
    top: 6.1em;
    width: 7em
}

.grill {
    border-radius: .06em;
    box-shadow: inset 0 -.03em 0 0 rgba(0,0,0,.15),inset 0 .03em 0 0 rgba(255,255,255,.2),0 -.03em 0 0 rgba(0,0,0,.15),0 .03em 0 0 rgba(255,255,255,.2);
    height: .6em;
    left: 2.61em;
    top: 4.51em;
    width: 4.78em
}

.grill__hole {
    background: #333;
    border-radius: .02em;
    box-shadow: .08em 0 0 0 #333,.16em 0 0 0 #333,.24em 0 0 0 #333,.32em 0 0 0 #333,.4em 0 0 0 #333,.48em 0 0 0 #333,.56em 0 0 0 #333,.64em 0 0 0 #333,.72em 0 0 0 #333,.8em 0 0 0 #333,.88em 0 0 0 #333,.96em 0 0 0 #333,1.04em 0 0 0 #333,1.12em 0 0 0 #333,1.2em 0 0 0 #333,1.28em 0 0 0 #333,1.36em 0 0 0 #333,1.44em 0 0 0 #333,1.52em 0 0 0 #333,1.6em 0 0 0 #333,1.68em 0 0 0 #333,1.76em 0 0 0 #333,1.84em 0 0 0 #333,1.92em 0 0 0 #333,2em 0 0 0 #333;
    height: .42em;
    left: .13em;
    position: absolute;
    top: .09em;
    width: .04em
}

.grill__hole--right {
    left: 2.59em
}

.windshield {
    height: 100%;
    width: 100%;
    z-index: 30
}

.windshield-rubber {
    background: #8a97a2;
    border-radius: 50% 50% 0 0/34% 34% 0 0;
    border: .14em solid #333;
    height: 1.4em;
    left: 1.9em;
    width: 6.2em;
    top: 1.32em
}

.windshield-rubber--bottom {
    background: #8a97a2;
    border-radius: .16em;
    border: .08em solid #333;
    height: .32em;
    left: 1.28em;
    width: 7.44em;
    top: 3.51em
}

.windshield-rubber--side {
    background: #8a97a2;
    border-radius: 50% 50% 60% 13%/60% 60% 20% 5%;
    border: .12em solid #333;
    height: 2.18em;
    left: 1.46em;
    top: 1.65em;
    transform: rotate(11deg);
    width: .8em
}

.windshield-rubber--side--right {
    border-radius: 50% 50% 13% 60%/60% 60% 5% 20%;
    left: auto;
    right: 1.46em;
    transform: rotate(-11deg)
}

.windshield-top {
    background: #8a97a2;
    border-radius: .4em;
    height: 2em;
    left: 1.86em;
    width: 6.28em;
    top: 1.68em
}

.windshield-bottom {
    background: #8a97a2;
    border-radius: .4em;
    height: .2em;
    left: 1.4em;
    width: 7.2em;
    top: 3.55em
}

.windshield-bottom:after {
    background: #8a97a2;
    content: '';
    height: .3em;
    left: .2em;
    position: absolute;
    width: 6.8em;
    top: -.2em
}

.front-parts {
    height: 100%;
    width: 100%;
    z-index: 40
}

.wiper {
    height: .78em;
    left: 4.86em;
    top: 3.24em;
    transform-origin: 97% 100%;
    transition: transform 1s ease-in-out;
    width: 2.4em
}

.wiper-arm {
    background: #333;
    bottom: .42em;
    height: .05em;
    right: 0;
    transform: rotate(26deg);
    width: 1.3em
}

.wiper-arm:after {
    background: #333;
    border-radius: .03em;
    content: '';
    height: .05em;
    position: absolute;
    top: -.02em;
    transform: rotate(-2deg);
    width: 1.3em
}

.wiper-arm:before {
    background: #333;
    border-radius: .04em;
    content: '';
    height: .08em;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(6deg);
    width: .6em
}

.wiper-attachment {
    background: #333;
    border-radius: .06em;
    bottom: .06em;
    height: .12em;
    right: 0;
    transform: rotate(20deg);
    width: .14em
}

.wiper-attachment:after {
    background: #333;
    border-radius: .04em;
    content: '';
    height: .12em;
    left: .02em;
    position: absolute;
    top: .06em;
    width: .1em
}

.wiper-blade {
    background: #333;
    height: .04em;
    left: 0;
    top: .12em;
    transform: rotate(2deg);
    width: 2.04em
}

.wiper-blade:after {
    background: 0 0;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    box-shadow: inset 0 .03em 0 0 #333;
    content: '';
    height: .14em;
    left: .26em;
    position: absolute;
    top: -.1em;
    width: 1.5em
}

.wiper-blade:before {
    background: #333;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    box-shadow: .8em -.08em 0 0 #333;
    content: '';
    height: .06em;
    left: .16em;
    position: absolute;
    top: -.04em;
    width: .4em
}

.wiper-left {
    left: 1.92em;
    transform: rotate(-6deg)
}

.wiper-right--on {
    -webkit-animation-name: wiper-wiping-right;
    animation-name: wiper-wiping-right;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.vw-logo {
    border: .08em solid #a8a9ad;
    border-radius: 50%;
    left: 4.52em;
    height: .96em;
    position: absolute;
    top: 5.68em;
    width: .96em
}

.vw-logo_early {
    border: .08em solid #a8a9ad;
    border-radius: 50%;
    left: 4.4em;
    height: 1.40em;
    position: absolute;
    top: 5.30em;
    width: 1.05em
}

.vw-logo__v {
    background: #a8a9ad;
    display: block;
    height: .1em;
    left: .40em;
    position: absolute;
    top: .70em;
    width: .1em
}

.vw-logo__v:after,.vw-logo__v:before {
    background: #a8a9ad;
    content: '';
    height: .4em;
    left: -.08em;
    position: absolute;
    top: -.3em;
    transform: rotate(-24deg);
    width: .08em
}

.vw-logo__v:before {
    left: .1em;
    transform: rotate(24deg)
}

.vw-logo__w {
    background: #a8a9ad;
    display: block;
    height: .1em;
    left: .40em;
    position: absolute;
    top: 0.76em;
    width: .1em
}

.vw-logo__w:after,.vw-logo__w:before {
    background: #a8a9ad;
    content: '';
    height: .4em;
    left: -.08em;
    position: absolute;
    top: 0;
    transform: rotate(24deg);
    width: .08em
}

.vw-logo__w:before {
    left: .1em;
    transform: rotate(-24deg)
}

.vw-logo__w__leg-l,.vw-logo__w__leg-r {
    background: #a8a9ad;
    display: block;
    height: .8em;
    left: -.26em;
    position: absolute;
    top: -.2em;
    transform: rotate(-24deg);
    width: .08em
}

.vw-logo__w__leg-r {
    left: .29em;
    transform: rotate(24deg)
}

.vw-logo--shadow {
    border-color: rgba(0,0,0,.15);
    top: 5.72em
}

.vw-logo--shadow .vw-logo__v {
    background: rgba(0,0,0,.15)
}

.vw-logo--shadow .vw-logo__v:after,.vw-logo--shadow .vw-logo__v:before {
    background: rgba(0,0,0,.15)
}

.vw-logo--shadow .vw-logo__w {
    background: rgba(0,0,0,.15)
}

.vw-logo--shadow .vw-logo__w:after,.vw-logo--shadow .vw-logo__w:before {
    background: rgba(0,0,0,.15)
}

.vw-logo--shadow .vw-logo__w__leg-l,.vw-logo--shadow .vw-logo__w__leg-r {
    background: rgba(0,0,0,.15)
}

.directional_early {
    background: radial-gradient(at bottom right,#f46b0e 58%,#dd5900 59%);
    border: 0.06em solid grey;
    border-top-color: grey;
    border-bottom-color: grey;
    border-radius: 0.06em;
    height: 0.3em;
    left: 1.2em;
    top: 7.25em;
    position: absolute;
    width: 1em;
}

.directional_early--right {
    left: auto;
    right: 1.2em
}


.directional {
    background: radial-gradient(at bottom right,#f46b0e 58%,#dd5900 59%);
    border: .06em solid #dd5900;
    border-top-color: #ec8c47;
    border-bottom-color: #bb4b00;
    border-radius: .06em;
    height: .56em;
    left: 1.89em;
    top: 4.55em;
    position: absolute;
    width: .68em
}

.directional--right {
    left: auto;
    right: 1.89em
}

.directional--on {
    -webkit-animation-name: directional-blinking;
    animation-name: directional-blinking;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background: #ffbc00;
    background: radial-gradient(#ffe7a5,#ffbc00 65%,#ff9c00);
    border-radius: .06em;
    box-shadow: 0 0 1em #ffbc00;
    height: .56em;
    left: -.06em;
    position: relative;
    top: -.06em;
    width: .68em
}

.headlight {
    background: #eee;
    background: linear-gradient(to bottom,#eee 50%,#555 50%);
    border-radius: 50%;
    box-shadow: 0 -.12em 0 0 rgba(0,0,0,.15),0 .12em 0 0 rgba(255,255,255,.2);
    height: 1.14em;
    left: 1.64em;
    position: absolute;
    top: 5.66em;
    width: 1.14em
}

.headlight:after {
    background: #eee;
    background: linear-gradient(to bottom,#aaa 50%,#eee 50%);
    border-radius: 50%;
    content: '';
    height: .94em;
    left: .12em;
    position: absolute;
    top: .1em;
    width: .94em;
    z-index: 2
}

.headlight:before {
    border-radius: 50%;
    box-shadow: inset 0 .08em 0 0 #ddd,0 .08em 0 0 #ccc;
    content: '';
    height: .7em;
    left: .24em;
    position: absolute;
    top: .18em;
    width: .7em;
    z-index: 3
}

.headlight--right {
    left: auto;
    right: 1.64em
}

.headlight--right:after {
    left: .08em
}

.headlight--right:before {
    left: .2em
}

.headlight--on {
    -webkit-animation-name: headlight-blinking;
    animation-name: headlight-blinking;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1.5em .8em #fff;
    height: .94em;
    left: .12em;
    position: relative;
    top: .1em;
    width: .94em;
    z-index: 4
}

.headlight--on:before {
    background: rgba(255,255,255,.15);
    border-radius: 50%;
    box-shadow: inset 0 0 .1em .02em rgba(255,255,255,.3),0 0 .1em .02em rgba(255,255,255,.3);
    content: '';
    height: .5em;
    left: -.3em;
    position: absolute;
    top: -.2em;
    width: .5em;
    z-index: 5
}

.headlight--on:after {
    background: rgba(255,255,255,.1);
    border-radius: 50%;
    box-shadow: inset 0 0 .1em .02em rgba(255,255,255,.3),0 0 .1em .02em rgba(255,255,255,.3);
    content: '';
    height: .3em;
    left: 1em;
    position: absolute;
    top: 1em;
    width: .3em;
    z-index: 5
}

.headlight--on--right {
    left: .08em
}

.headlight--on__star {
    background: rgba(255,255,255,.1);
    border-radius: 30%;
    height: 3em;
    left: .46em;
    position: absolute;
    top: -1.03em;
    width: .05em;
    z-index: 5
}

.headlight--on__star:before {
    background: rgba(255,255,255,.1);
    border-radius: 30%;
    content: '';
    height: 3em;
    position: absolute;
    transform: rotate(45deg);
    width: .05em;
    z-index: 5
}

.headlight--on__star:after {
    background: rgba(255,255,255,.1);
    border-radius: 30%;
    content: '';
    height: 3em;
    position: absolute;
    transform: rotate(-45deg);
    width: .05em;
    z-index: 5
}

.bumper {
    height: .8em;
    left: .98em;
    top: 7.73em;
    width: 8.04em
}

.bumper-curve {
    background: #ded9d1;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    height: .16em;
    left: 0;
    width: 8.04em
}

.bc-1 {
    border-bottom: .04em solid rgba(0,0,0,.3);
    top: .63em
}

.bc-2 {
    box-shadow: inset 0 -.04em 0 0 #fff;
    top: .47em
}

.bc-3 {
    border-bottom: .04em solid rgba(0,0,0,.3);
    top: .19em
}

.bc-4 {
    background: #fff;
    top: .03em
}

.bumper-straight {
    background: #ded9d1;
    height: .16em;
    left: 0;
    width: 8.04em
}

.bs-1 {
    top: .47em
}

.bs-middle {
    height: .32em;
    left: .04em;
    top: .19em;
    width: 7.96em
}

.bs-3 {
    top: .03em
}

.bumper-top {
    background: #fff;
    border-radius: .06em;
    height: .06em;
    width: 8.04em
}

.above-bumper {
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    height: .1em;
    left: .22em;
    top: -.02em;
    width: 7.6em
}

.spare-tire {
    background: #ded9d1;
    background: linear-gradient(to bottom,#fff 50%,#cac4bb 50%);
    border-radius: 50%;
    box-shadow: 0 .16em 0 0 rgba(0,0,0,.15);
    height: 3.6em;
    left: 3.2em;
    top: 4.1em;
    width: 3.6em
}

.spare-tire:after {
    background: #ded9d1;
    border-radius: 50%;
    content: '';
    height: 2.86em;
    left: .37em;
    position: absolute;
    top: .37em;
    width: 2.86em
}

.mirrors {
    height: 100%;
    width: 100%;
    z-index: 10
}

.mirror-glass {
    background: #666;
    height: .62em;
    border-radius: 50% 50% 50% 50%/10% 10% 10% 10%;
    left: .44em;
    top: 3.26em;
    width: .56em
}

.mirror-glass:after {
    background: radial-gradient(at left,#bbb 59%,#666 60%);
    box-shadow: inset .04em 0 0 0 #666;
    box-sizing: border-box;
    content: '';
    height: .5em;
    left: -.05em;
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
    position: absolute;
    top: 10%;
    width: .66em
}

.mirror-arm {
    background: 0 0;
    box-shadow: .04em -.04em 0 0 #666,.08em -.08em 0 0 #ddd;
    height: .2em;
    border-radius: 0 20% 0 0/0 50% 0 0;
    left: .52em;
    top: 3.7em;
    transform: rotate(35deg);
    width: .6em
}

.mirror-arm:after,.mirror-arm:before {
    background: linear-gradient(to bottom,#ddd 50%,#666 50%);
    border-radius: 50%;
    content: '';
    height: .14em;
    left: .02em;
    position: absolute;
    top: -.1em;
    width: .14em
}

.mirror-arm:before {
    background: #666;
    left: .58em;
    top: .03em
}

.mirror-r {
    height: 100%;
    width: 100%;
    z-index: 10
}

.mirror-r .mirror-glass {
    left: auto;
    right: .44em
}

.mirror-r .mirror-glass:after {
    background: radial-gradient(at right,#bbb 59%,#666 60%);
    box-shadow: inset -.04em 0 0 0 #666;
    left: -.05em
}

.mirror-arm-r {
    box-shadow: -.04em -.04em 0 0 #666,-.08em -.08em 0 0 #ddd;
    border-radius: 20% 0 0 0/50% 0 0 0;
    left: auto;
    right: .52em;
    transform: rotate(-35deg)
}

.mirror-arm-r:after,.mirror-arm-r:before {
    background: linear-gradient(to bottom,#ddd 50%,#666 50%);
    border-radius: 50%;
    content: '';
    height: .14em;
    left: auto;
    right: .02em;
    position: absolute;
    top: -.1em;
    width: .14em
}

.mirror-arm-r:before {
    background: #666;
    left: auto;
    right: .58em;
    top: .03em
}

.campertop {
    height: 100%;
    width: 100%;
    z-index: 35
}

.poptop-2 {
    background: 0 0;
    border-radius: 50% 50% 0 0/50% 50% 0 0;
    box-shadow: 0 -.36em 0 0 #ded9d1,0 -.38em 0 0 #fff;
    height: .7em;
    left: 2.05em;
    top: .84em;
    width: 5.9em
}

.poptop-2:after,.poptop-2:before {
    background: #ded9d1;
    border-radius: .06em;
    content: '';
    height: .46em;
    left: -.04em;
    position: absolute;
    top: -.06em;
    transform: rotate(14deg);
    width: .2em
}

.poptop-2:before {
    left: auto;
    right: -.04em;
    transform: rotate(-14deg)
}

.poptop-1 {
    background: 0 0;
    border-radius: 50% 50% 0 0/50% 50% 0 0;
    box-shadow: 0 -.36em 0 0 #ded9d1,0 -.4em 0 0 #fff;
    height: .7em;
    left: 1.95em;
    top: 1.1em;
    width: 6.1em
}

.poptop-1:after,.poptop-1:before {
    background: #ded9d1;
    border-radius: .06em;
    content: '';
    height: .46em;
    left: -.02em;
    position: absolute;
    top: -.08em;
    transform: rotate(10deg);
    width: .2em
}

.poptop-1:before {
    left: auto;
    right: -.02em;
    transform: rotate(-10deg)
}

.poptop-seal {
    background: 0 0;
    border-radius: 50% 50% 0 0/68% 68% 0 0;
    box-shadow: 0 -.1em 0 0 #333,0 -.18em 0 0 #fff;
    height: .7em;
    left: 1.85em;
    top: 1.22em;
    width: 6.3em
}

.underbody {
    height: 100%;
    width: 100%;
    z-index: 10
}

.tire {
    background: #333;
    border-radius: 0 0 30% 30%/0 0 50% 50%;
    bottom: .1em;
    height: 2em;
    left: 1.43em;
    width: 1em
}

.tire--right {
    left: auto;
    right: 1.43em
}

.mid-parts {
    height: 100%;
    width: 100%
}

.mid-parts--left {
    background: #333;
    border-radius: 0 0 40% 40%/0 0 20% 20%;
    height: .6em;
    left: 3.76em;
    top: 8.16em;
    transform: rotate(6deg);
    width: .8em
}

.mid-parts--right {
    left: auto;
    right: 3.76em;
    transform: rotate(-6deg)
}

.mid-parts--middle {
    background: 0 0;
    border-radius: 40% 40% 0 0/30% 30% 0 0;
    box-shadow: 0 -.2em 0 0 #333;
    height: .4em;
    left: 4.5em;
    top: 8.62em;
    width: 1em
}

.under-part-1l {
    background: #333;
    border-radius: 0 0 0 40%/0 0 0 20%;
    height: .7em;
    left: 3.06em;
    top: 7.94em;
    transform: rotate(-10deg);
    width: .8em
}

.under-part-1r {
    border-radius: 0 0 40% 0/0 0 20% 0;
    left: auto;
    right: 3.06em;
    transform: rotate(10deg)
}

.under-part-2 {
    background: #333;
    height: .4em;
    left: 2em;
    top: 8.18em;
    width: 6em
}

.shock-l {
    background: #333;
    border-radius: 0 0 40% 40%/0 0 20% 20%;
    height: .7em;
    left: 2.6em;
    top: 8.06em;
    transform: rotate(-10deg);
    width: .36em
}

.shock-r {
    left: auto;
    right: 2.6em;
    transform: rotate(10deg)
}

.bar-l {
    background: #333;
    border-radius: 0 0 100% 0/0 0 100% 0;
    height: .1em;
    left: 2.3em;
    top: 8.66em;
    transform: rotate(-15deg);
    width: .5em
}

.bar-r {
    border-radius: 0 0 0 100%/0 0 0 100%;
    left: auto;
    right: 2.3em;
    transform: rotate(15deg)
}

.bus-main-color .bus--top-love .bus__body--top,.bus--bottom-love .bus__body--bottom {
    background: #514d44
}

.bus-shape-a {
    background-color: #00394e;
    border-radius: 50%;
    border: .05em solid #00c1d5;
    box-shadow: inset 0 0 0 .16em #ffd322;
    height: .6em;
    left: 1.1em;
    overflow: hidden;
    top: 7.03em;
    width: .6em
}

.bus-shape-a:before {
    background-color: #f74f31;
    border-radius: 50%;
    box-shadow: .28em -.01em 0 0 #f74f31,.43em .22em 0 0 #f74f31,.3em .47em 0 0 #f74f31,.03em .49em 0 0 #f74f31,-.12em .25em 0 0 #f74f31;
    content: '';
    height: .26em;
    left: -.03em;
    position: absolute;
    top: -.11em;
    width: .26em
}

.bus-shape-a:after {
    background-color: #ff9d1e;
    border-radius: 50%;
    content: '';
    height: .13em;
    left: .185em;
    position: absolute;
    top: .185em;
    width: .13em
}

.bus-shape-a--2 {
    left: 1.8em;
    top: 7.07em
}

.bus-shape-a--3 {
    left: 2.5em;
    top: 7.09em
}

.bus-shape-a--4 {
    left: 3.2em;
    top: 7.1em
}

.bus-shape-a--5 {
    left: 3.9em;
    top: 7.1em
}

.bus-shape-a--6 {
    left: 4.7em;
    top: 7.1em
}

.bus-shape-a--7 {
    left: 5.5em;
    top: 7.1em
}

.bus-shape-a--8 {
    left: 6.2em;
    top: 7.1em
}

.bus-shape-a--9 {
    left: 6.9em;
    top: 7.09em
}

.bus-shape-a--10 {
    left: 7.6em;
    top: 7.07em
}

.bus-shape-a--11 {
    left: 8.3em;
    top: 7.03em
}

.bus-headlight-circle {
    background-color: #00c1d5;
    border-radius: 50%;
    height: 1.6em;
    left: 1.55em;
    top: 5.5em;
    width: 1.6em
}

.bus-headlight-circle--2 {
    left: 6.85em;
    top: 5.5em
}

.bus-blinker-circle {
    background-color: #ffd322;
    border: .15em solid #00c1d5;
    border-bottom-width: .06em;
    border-top-width: .06em;
    border-radius: 40% 0;
    height: 1.14em;
    left: 1.42em;
    top: 4.26em;
    transform: rotate(8deg);
    width: 1.6em
}

.bus-blinker-circle:before {
    background-color: #ff9d1e;
    border-radius: 40% 0;
    content: '';
    height: .9em;
    left: .1em;
    position: absolute;
    top: .06em;
    width: 1.1em
}

.bus-blinker-circle:after {
    background-color: #f74f31;
    border-radius: 40% 0;
    content: '';
    height: .78em;
    left: .2em;
    position: absolute;
    top: .12em;
    width: .9em
}

.bus-blinker-circle--2 {
    border-radius: 0 40%;
    left: 6.98em;
    transform: rotate(-8deg)
}

.bus-blinker-circle--2:before {
    border-radius: 0 40%
}

.bus-blinker-circle--2:after {
    border-radius: 0 40%
}

@media screen and (max-width: 768px) {
    .bus--full {
        font-size: 9vw;
    }

}
